<table class="table">
	<thead>
		<tr>
			<th>Changelist</th>
			<th>Owner</th>
			<th>Time Started</th>
			<th width="15%">Build</th>
			<th width="15%">Unit Test</th>
			<th width="15%">Functional Test</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="list in lists" ng-class="{ 'success': list.status == 'pending'}">
			<td>{{list.changeList}}</td>
			<td>{{list.owner}}</td>
			<td>{{list.timeStarted}}</td>
			<td colspan="3">
				<div  class="progress-container">
					<div class="progress">
						<div class="progress-bar" ng-style="{ width: list.progress + '%' }"></div>
					</div>
					<a class="step-icon">
						<i class="fa fa-user"></i>
					</a>
					<a class="step-icon">
						<i class="fa fa-user"></i>
					</a>
					<a class="step-icon">
						<i class="fa fa-user"></i>
					</a>
				</div>
			</td>
			<td>{{list.status}}</td>
		</tr>
	</tbody>
</table>